.chess-container {
    display: flex;
    align-items: center;
}

.chess-board {
    flex-direction: column;
    border: 1px solid;
}

.block {
    position: relative;
    height: 80px;
    width: 80px;
    font-size: 35px;
    border: 1px solid;
}

.block button {
    height: 100%;
    width: 100%;
}

.row:nth-child(odd) .block:nth-child(odd), 
.row:nth-child(even) .block:nth-child(even) {
    background: #b6b6b6;
}

.row:nth-child(odd) .block:nth-child(even), 
.row:nth-child(even) .block:nth-child(odd) {
    background: #797979;
}

.dead-pieces {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65px;
    font-size: 35px;
    gap: 5px;
}

.convert-options {
    gap: 15px;
    padding: 10px;
    position: absolute;
    z-index: 9998;
    top: -50px;
    right: -50px;
    background: #797979;
    border: 2px solid
}

.convert-options li:hover {
    -webkit-filter: invert(80%);
    filter: invert(80%);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    color: black;
}

.white {
    color: white;
}

.mark {
    cursor: pointer;
    background: rgba(255, 0, 0, 0.705) !important;
}

.danger {
    background: green !important;
}

.current-piece {
    border: 5px solid rgba(255, 0, 0, 0.705);
}

.arrow-down {
    position: absolute;
    z-index: 9999;
    bottom: -12px;
    width: 0; 
    height: 0; 
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid black;
}

.inner-arrow-down {
    position: absolute;
    z-index: 9999;
    bottom: 2px;
    width: 0; 
    height: 0;
    left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #797979;
}